html {
  font-size: 30px;
}

section {
  background-color: #354f52;
  width: 400px;
  height: 400px;
}

div {
  background-color: #84a98c;
  width: 70%;
  height: 20%;
}

h1 {
  font-size: 40px;
  line-height: 80px;
}

#ems h2 {
  font-size: 5em;
  margin-left: 1em;
}

#ems h3 {
  font-size: 1.5em;
}

#ems p {
  font-size: 1em;
}

article {
  font-size: 15px;
}

ul {
  font-size: 1.5rem;
}

button {
  font-size: 1em;
  padding: 0 1em;
  border-radius: 0.5em;
  background-color: #4F3641;
  color: white;
}

#rems h2 {
  font-size: 3rem;
}

#rems h3 {
  font-size: 2rem;
}

#rems ul {
  font-size: 0.8rem;
}



