body {
  background-color: #1a141f;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
}

a {
  color: #dbbfff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

