html {
  height: 100%;
}

body {
  background: linear-gradient(45deg, #ffe5c5, #ffc5eb);
}

.display-6 {
  font-weight: bold;
}

.nav-item a {
  color: #a2a4a5;
}

.nav-item a:hover {
  color: white;
}

#question h2 {
  display: inline;
  margin-right: 0.2em;
}

.answer-info {
  font-size: 100%;
  display: inline;
}

.statistic {
  font-size: 90%;
}

hr {
  align-self: flex-end;
}

@media (max-width: 575px) {
  .statistic {
    font-size: 70%;
  }

  #message {
    font-size: 80%;
  }
}

@media (max-width: 400px) {
  #question {
    font-size: 1.25em;
  }
}
