body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
}

#container div {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 4em;
}

#alignments {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}


#alignments div {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 4em;
}

#image {
    background-color: #003049;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#image img {
    width: 200px;
    height: 200px;
}