/* * {
  background-color: cyan;
} */

body {
  background: linear-gradient(45deg, #f9faeb, #faebf7);
}

button {
  background-color: #d8a0df;
  color:#9c28ae;
  font-size: 15px;
}

button:hover {
  background-color: #c466d1;
}

button:active {
  background-color: #1B1725;
}

span, label {
  color: #1B1725;
}

h1, h2 {
  color: #1B1725;
  font-family: Arial;
}

#signup {
  background-color: #9c28ae;
  color: #f6dcf9;
}

.tag {
  background-color: #e63946;
  color: white;
  font-size: 12px;
  border-radius: 16px;
  padding: 5px;
}

.tag:hover {
  background-color: #d02e3b;
  cursor:pointer;
}

.post a {
  color: #c466d1;
  font-weight: bold;
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

footer a {
  color: #D291DB;
}

/* input + button {
  background-color: pink;
} */

footer > a {
  color: #9c28ae;  
}

/* h2 + button { 
  font-size: 20px;
  background-color: magenta;
} */
/* 
input[type="password"] {
  color: greenyellow;
} */

/* section[class="post"] {
  background-color: purple;
} */

a[href*="google"] {
  color: orangered;
}

/* .post:nth-of-type(2n) {
  background-color: #f1f2dc;
} */

h2::first-letter {
  font-size: 30px;
}

p {
  font-family: Arial;
}

p::selection {
  background-color: yellow;
}
