div {
  background-color: #3d405b;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
}

#middle {
  background-color: #81b29a;
}

#static #middle {
  position: static;
}

#relative #middle {
  position: relative;
  top: 50px;
  left: 50px;
}

#absolute {
  position: relative;
}

#absolute #middle {
  position: absolute;
  top: 1px;
  left: 1px;
}

#fixed #middle {
  position: fixed;
  top: 0px;
  left: 400px;
}

#sticky #middle {
  position: sticky;
  top: 0px;
  left: 800px
}